@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i');

#email table {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    line-height: 35px;
}
tr:hover td:not(:first-child) {
    background-color: #ffbb33;
    color: white;
    cursor: pointer;
}
