@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i');

#header {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

    #header h1 {
        color: white;
    }

#function {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0.1em solid darkcyan;
}

#back {
    float: left;
}

#arrows {
    float: right;
}

#mailbox {
    float: left;
    width: 10%;
    text-align: center;
    border-right: 0.1em solid darkcyan;
    padding-right: 5px;
}

    #mailbox h4:hover {
        cursor: pointer;
        color: cadetblue;
    }

    #mailbox .active {
        color: darkcyan;
    }

#email {
    width: 100%;
    min-height: 400px;
}

    #email table {
        margin-top: 15px;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        line-height: 35px;
    }

    #email .email {
        padding: 10px 10px 10px 10px;
    }

    #email h4 {
        margin: 5px 0px 5px 0px;
        display: block;
    }

.emaildetails {
    font-weight: lighter;
    color: darkgray;
}

.emailinfo {
    font-weight: lighter;
}

tr:hover td:not(:first-child) {
    background-color: #ffbb33;
    color: white;
    cursor: pointer;
}

* {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

input[type='button'] {
    background: darkcyan;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: small;
    -webkit-appearance: none;
}

    input[type='button']:hover {
        cursor: pointer;
        background: cadetblue;
    }

    input[type='button']:disabled {
        background: darkgray;
    }

#move input[type='button'] {
    margin: 3px;
}

@media only screen and (max-width: 787px) {
    h4 {
        display: inline;
    }

    #mailbox {
        width: 100%;
        text-align: center;
        padding-right: 0px;
        padding-top: 5px;
        border-right: none;
        border-bottom: 0.1em solid darkcyan;
        padding-bottom: 5px;
    }

    #email {
        width: 100%;
    }

    td {
        font-size: small;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    p {
        font-size: small;
    }

    #mailbox h4 + h4:before {
        content: ' | ';
        padding: 0 10px;
        font-size: darkcyan;
    }
}

@media only screen and (max-width: 485px) {
    input[type='button'] {
        font-size: x-small;
    }
}

@media only screen and (max-width: 400px) {
    input[type='button'] {
        font-size: 8px;
    }
}
